[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
sqlalchemy = "~=1.3"
diskcache = "~=3.1"
cx-oracle = "~=7.1"
requests = "~=2.21"
ratelimiter = "~=1.2"
marshmallow = "~=2.19"
pyodbc = "~=4.0"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.6"
